.bg-color {
  background-color: #e4e4e7;
}

.table-bg-colour {
  color: #69ba5e;
}
.scroll-container {
  overflow: hidden;
}
.scroll-text {
  -moz-transform: translateY(100%);
  -webkit-transform: translateY(100%);
  transform: translateY(100%);

  -moz-animation: my-animation 5s linear infinite;
  -webkit-animation: my-animation 5s linear infinite;
  animation: my-animation 5s linear infinite;
}
.scroll-text:hover {
  animation-play-state: paused;
}

.carousel-control-prev,
.carousel-control-next {
  z-index: 0;
}

@-webkit-keyframes my-animation {
  from {
    -webkit-transform: translateY(100%);
  }
  to {
    -webkit-transform: translateY(-100%);
  }
}

@keyframes my-animation {
  from {
    -moz-transform: translateY(100%);
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
  to {
    -moz-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}

@media (max-width: 630px) {
  .nav-hide {
    display: none;
  }
}

/* Custom Table css */

<<<<<<< HEAD
.table > tbody > tr:last-child {
  border-color: white !important;
}
.selectItem {
  margin: 10px;
  list-style: none;
  color: black;
  align-items: center;
}
.selectLink {
  color: black;
  text-decoration: none;
  font-weight: 500;
}
#newsletter_list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
=======
.table > tbody > tr:last-child{
    border-color: white !important;
}

.news-links{
    color: black;
    text-decoration: none;
    margin: 10px;
}

.news-links:hover{
    color: blue;
}

.news-link-grp{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    max-height: 400px;
}

@media (max-width:500px){
    .container-fluid{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}
>>>>>>> fc794d28b1bde83eadf382c4003d552f6a7dac58
