
.exercise-card {
  width: 400px;
  height: 480px;
  background: #fff;
  border-top: 4px solid #FF2625;
  border-bottom: 4px solid #FF2625;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-bottom: 30px;
  margin:30px;
}

.exercise-card > img {
  height: 326px;
  margin:20px;
}
.team_socials{
  transform: scale(1, 1);
  transition: 0.3s all ease-in-out;
}

.exercise-card {
  width: 320px;
}
.team_socials:hover{
  transform: scale(1.2, 1.2);
}
@media screen and (max-width:400px) {
  .exercise-card {
    width: 280px;
  }
}

